<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Camera Control</title>

    <!-- Webix CSS & JS -->
    <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" />
    <script src="https://cdn.webix.com/edge/webix.js"></script>

    <!-- socket.io -->
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>

    <style>html,body,#root{height:100%;}</style>
</head>
<body>
    <div id="root"></div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
